.reveal section img {
    background:none;
    border:none;
    box-shadow:none;
}

.reveal h1 {
    font-size: 1.9em;
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal img {
    width: 50%;
}

.reveal pre {
    margin: 0;
    box-shadow: inherit;
    padding: 5px;
}

.reveal p code {
    background-color: transparent;
    border: none;
}

.reveal pre code {
    font-size: 0.7em;
}

